
.game-board{
    width: 70%;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    
}
.cabecalho{
    position: relative;
    left: 180px;
    animation: dev-animation 10s infinite linear;


} 
@keyframes dev-animation{
    from{
        left: 100%;
    }
    to{
        left: -100%;
    }
}
h1{
    font-size: 70px;
    text-align: center;
    
}
div a{
    text-decoration: none;
    color: rgb(167, 109, 2);
    
}
.divs{
    width: 100%;
    float: right;
    
}
.float{
    margin: 0 auto;
    width: 70%;
    
}
body{
    background-color: rgb(240, 230, 230);
}
strong{
    color: rgb(204, 135, 6);
}
.empadao2{
    width: 100%;
}
h1{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: chocolate;
}
